* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error-message {
  width: 200px;
  color: #fff;
  font-size: .875rem;
  text-align: center;
  padding: .5rem;
  margin-inline: auto;
  background-color: #990000;
  border: black solid 1px;

}