@import url("public/style.css");

form {
    width: 80%;
    margin: auto;
    max-width: 400px;
}

form div {
    display: flex;
    flex-direction: column;
    margin-block: 10px;
}

.pristine-error, #confirm-password-error{
    color: red;
    font-size: .8rem;
}


